{% extends "base/base.html" %}

{% block title %} View Guests{% endblock %}

{% block content %}
<div class="home-main">

    <h1>Guests</h1>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.4/css/dataTables.dataTables.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.4/js/dataTables.js"></script>

    <div id="statusOverall" style="width: 50%; border-width: 1px;border-style: solid; display: flex; text-align: center; margin: 25px">
   
    </div>


    <table class="guestTable">
        <thead>
            <tr>
                <th>Guest Name</th>
                <th>Guest Email</th>
                <th>Guest Phone</th>
                <th>Guest RSVP</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="guest_data">
            {% for guest in guests %}
            <tr>
                <td>
                    <input  type="hidden" name="guest_id" value="{{guest.pk}}"> 
                    <input  type="text" name="name" value="{{guest.name}}"> 
                </td>
                <td>
                    <input  type="email" name="email" value="{{guest.email}}">
                </td>
                <td>
                    <input  type="tel" name="phone" value="{{guest.phone}}">
                </td>
                <td>
                    <select  name="status">
                        <option value="yes" {% if guest.status == 'yes' %} selected="selected" {% endif %}>Yes</option>
                        <option value="no" {% if guest.status == 'no' %} selected="selected" {% endif %}>No</option>
                        <option value="maybe" {% if guest.status == 'maybe' %} selected="selected" {% endif %}>Maybe</option>
                        <option value="pending" {% if guest.status == 'pending' %} selected="selected" {% endif %}>Pending</option>
                    </select>
                </td>
                <td>
                    <button style="margin: 0px"class="home-button button">Resend</button>
                </td>

            </tr>
            {% endfor %}
        </tbody>
        <tfoot  style="background-color: var(--dl-color-pallet-green);">
            <tr>
                <td>
                    <input  type="hidden" name="guest_id"> 
                    <input  type="text" name="name" placeholder="Name"> 
                </td>
                <td>
                    <input  type="email" name="email" placeholder="Email">
                </td>
                <td>
                    <input  type="tel" name="phone" placeholder="Phone Number">
                </td>
                <td>
                    {% comment %} <select name="status" disabled>
                        <option value="yes" >Yes</option>
                        <option value="no">No</option>
                        <option value="maybe">Maybe</option>
                        <option value="pending">Pending</option>
                        <option value="notSent" selected="selected">Not Sent</option>
                    </select> {% endcomment %}
                </td>
                <td>
                    <button id="newGuest" style="margin: 0px"class="home-button button">Submit</button>
                </td>
            </tr>
    </table>

    <script>
         // write a function that caculated the number of guests that have RSVP'd yes, no, maybe, pending, and not sent
        // and display the results in the .statusOverall div
        function getStatusCounts() {
            let statusCounts = {
                yes: 0,
                no: 0,
                maybe: 0,
                pending: 0,
            };

            // loop through each row in the table
            let rows = document.querySelectorAll('.guestTable tbody tr');
            rows.forEach(row => {
                let status = row.querySelector('select[name="status"]').value;
                statusCounts[status]++;
            });

            // calculate the percentage of each status
            let total = rows.length;
            let percentages = {};
            for (let status in statusCounts) {
                percentages[status] = (statusCounts[status] / total) * 100;
            }

            // update the statusOverall div
            let statusOverall = document.getElementById('statusOverall');
            statusOverall.innerHTML = '';
            for (let status in percentages) {
                let div = document.createElement('div');
                div.style.height = '24px';
                div.style.width = `${percentages[status]}%`;
                div.style.backgroundColor = status === 'yes' ? 'green' : status === 'no' ? 'red' : status === 'maybe' ? 'yellow' : status === 'pending' ? 'grey' : 'white';
                div.innerHTML = status + ", "+ statusCounts[status];
                if (statusCounts[status] <= 0){
                    div.style.display = 'none';
                }
                statusOverall.appendChild(div);
            }
        }

        
        // Function to clean phone numbers
        function cleanPhoneNumber(phoneNumber) {
            // Remove all non-digit characters from the phone number
            return phoneNumber.replace(/\D/g, '');
        }

        $(document).ready(function() {
            let guest_table = $('.guestTable').DataTable(
            );
            // make all the columns searchable
            guest_table.draw();
            getStatusCounts();

        });

        $('#guest_data').bind('change', function(event) {
            let target = event.target;
            let row = target.closest('tr');
            let data = {
                guest_id: row.querySelector('input[name="guest_id"]').value,
                name: row.querySelector('input[name="name"]').value,
                email: row.querySelector('input[name="email"]').value,
                phone: cleanPhoneNumber(row.querySelector('input[name="phone"]').value),
                status: row.querySelector('select[name="status"]').value
            };
            console.log(data);

            // Send data to server
            fetch('/editGuests/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })

            getStatusCounts();

        });

        // if the delete button is clicked on a row, send a request to delete the row
        $('.guest_data').bind('click', function(event) {
            let target = event.target;
            if (target.tagName === 'BUTTON') {
                let row = target.closest('tr');
                let data = {
                    guest_id: row.querySelector('input[name="guest_id"]').value
                };
                console.log(data);

                //
                fetch('/editGuests/', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'  
                    },
                    body: JSON.stringify(data)
                })

            }
        });

        // if the submit button is clicked on the footer row, send a request to add a new row
        $('#newGuest').bind('click', function(event) {
            console.log('new guest');
            let target = event.target;
            if (target.tagName === 'BUTTON') {
                let row = target.closest('tr');
                let data = {
                    event_id: '{{ event.pk }}',
                    name: row.querySelector('input[name="name"]').value,
                    email: row.querySelector('input[name="email"]').value,
                    phone: cleanPhoneNumber(row.querySelector('input[name="phone"]').value),
                    status: 'pending'
                };
                console.log(data);

                // check if the email or phone number is already in the table, if so alert the user and return
                let rows = document.querySelectorAll('.guestTable tbody tr');
                for (let i = 0; i < rows.length; i++) {
                    let row = rows[i];
                    let email = row.querySelector('input[name="email"]').value;
                    let phone = cleanPhoneNumber(row.querySelector('input[name="phone"]').value);
                    if (email === data.email || phone === data.phone) {
                        alert('A guest with the same email or phone number already exists in the table. Please update the existing guest instead.');
                        return;
                    }
                }

                // Send data to server
                var resp = fetch('/newGuest/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },  
                    body: JSON.stringify(data)
                })
                
                resp.then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })

                location.reload();



            }

        });

       

    </script>

    
</div>

{% endblock %}