{% extends "base/base.html" %}

{% block title %} View Guests{% endblock %}

{% block content %}
<div class="home-main">

    <h1>Guests</h1>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.4/css/dataTables.dataTables.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.4/js/dataTables.js"></script>

    <div id="statusOverall" style="width: 50%; border-width: 1px;border-style: solid; display: flex; text-align: center; margin: 25px">
   
    </div>


    <table class="guestTable">
        <thead>
            <tr>
                <th>Guest Name</th>
                <th>Guest Email</th>
                <th>Guest Phone</th>
                <th>Guest RSVP</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="guest_data">
            {% comment %} {% for guest in guests %}
            <tr>
                <td>
                    <input  type="hidden" name="guest_id" value="{{guest.pk}}"> 
                    <input  type="text" name="name" value="{{guest.name}}">  
                </td>
                <td>
                    <input  type="email" name="email" value="{{guest.email}} {{guest.status}}">
                </td>
                <td>
                    <input  type="tel" name="phone" value="{{guest.phone}}">
                </td>
                <td>
                    <select  name="status">
                        {% for status_choice in STATUS_CHOICES%}
                        <option value="{{status_choice.0}}" {% if status_choice.0 == guest.status %}selected{% endif %}>{{status_choice.1}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button style="margin: 0px"class="home-button button">Resend</button>
                </td>

            </tr>
            {% endfor %} {% endcomment %}
        </tbody>
        <tfoot  style="background-color: var(--dl-color-pallet-green);">
            <tr>
                <td>
                    <input  type="hidden" name="guest_id"> 
                    <input  type="text" name="name" placeholder="Name"> 
                </td>
                <td>
                    <input  type="email" name="email" placeholder="Email">
                </td>
                <td>
                    <input  type="tel" name="phone" placeholder="Phone Number">
                </td>
                <td>
                    
                </td>
                <td>
                    <button id="newGuest" style="margin: 0px"class="home-button button">Submit</button>
                </td>
            </tr>
    </table>

    <script>
        
        // initialize the DataTable
        let guest_table = $('.guestTable').DataTable({
            paging: false,
            searching: false,
            info: false,
            ordering: false
        });



        // write a function that caculated the number of guests that have RSVP'd yes, no, maybe, pending, and not sent
        // and display the results in the .statusOverall div
        function getStatusCounts() {
            let statusCounts = {
                yes: 0,
                no: 0,
                maybe: 0,
                pending: 0,
            };

            // loop through each row in the table
            let rows = document.querySelectorAll('.guestTable tbody tr');
            rows.forEach(row => {
                let status = row.querySelector('select[name="status"]').value;
                statusCounts[status]++;
            });

            // calculate the percentage of each status
            let total = rows.length;
            let percentages = {};
            for (let status in statusCounts) {
                percentages[status] = (statusCounts[status] / total) * 100;
            }

            // update the statusOverall div
            let statusOverall = document.getElementById('statusOverall');
            statusOverall.innerHTML = '';
            for (let status in percentages) {
                let div = document.createElement('div');
                div.style.height = '24px';
                div.style.width = `${percentages[status]}%`;
                div.style.backgroundColor = status === 'yes' ? 'green' : status === 'no' ? 'red' : status === 'maybe' ? 'yellow' : status === 'pending' ? 'grey' : 'white';
                div.innerHTML = status + ", "+ statusCounts[status];
                if (statusCounts[status] <= 0){
                    div.style.display = 'none';
                }
                statusOverall.appendChild(div);
            }
        }

        
        // Function to clean phone numbers
        function cleanPhoneNumber(phoneNumber) {
            // Remove all non-digit characters from the phone number
            return phoneNumber.replace(/\D/g, '');
        }

        
        $('#guest_data').bind('change', function(event) {
            let target = event.target;
            let row = target.closest('tr');
            let data = {
                guest_id: row.querySelector('input[name="guest_id"]').value,
                name: row.querySelector('input[name="name"]').value,
                email: row.querySelector('input[name="email"]').value,
                phone: cleanPhoneNumber(row.querySelector('input[name="phone"]').value),
                status: row.querySelector('select[name="status"]').value
            };
            console.log(data);

            // Send data to server
            fetch('/editGuests/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })

            getStatusCounts();

        });

        // if the delete button is clicked on a row, send a request to delete the row
        $('button:contains("Resend")').bind('click', function(event) {
            console.log('resend');
            let target = event.target;
            if (target.tagName === 'BUTTON') {
                let row = target.closest('tr');
                let data = {
                    guest_id: row.querySelector('input[name="guest_id"]').value
                };
                console.log(data);

                //
                fetch('/sendInvitation/{{event.pk}}/'+ data.guest_id +'/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'  
                    },
                    body: JSON.stringify(data)
                }).then(response => response.json())
                .then(data => {
                    console.log(data)
                    alert(data.message)
                })

            }
        });

        // if the submit button is clicked on the footer row, send a request to add a new row
        $('#newGuest').bind('click', function(event) {
            console.log('new guest');
            let target = event.target;
            if (target.tagName === 'BUTTON') {
                let row = target.closest('tr');
                let data = {
                    event_id: '{{ event.pk }}',
                    name: row.querySelector('input[name="name"]').value,
                    email: row.querySelector('input[name="email"]').value,
                    phone: cleanPhoneNumber(row.querySelector('input[name="phone"]').value),
                    status: "not_sent"
                };

                var guest_data = guest_table.data()
                guest_data_array = []
                console.log(guest_data)
                for (let i = 0; i < guest_data.length; i++) {
                    guest_data_array.push([])
                    for (let j = 0; j < guest_data[i].length; j++) {
                        // for each <input> in the row, push the value to the guest_data_array, using regex
                        let matches = (guest_data[i][j]).match(/<input.*value="(.*)">/)
                        if (matches !== null) {
                            for (let k = 1; k < matches.length; k++) {
                                guest_data_array[i].push(matches[k])
                            }
                        }
                        // if there is an option that is selected, push the value to the guest_data_array
                        let matches2 = (guest_data[i][j]).match(/<option.*value="(.*)".*selected>/)
                        console.log('guest_data[i][j]', guest_data[i][j])
                        console.log('matches2', matches2)
                        if (matches2 !== null) {
                            for (let k = 1; k < matches2.length; k++) {
                                guest_data_array[i].push(matches2[k])
                            }
                        }

                    }
                }

                console.log(guest_data_array[1])

                {% comment %} 

                for (let i = 0; i < data.length; i++) {
                    if guest_data[i][2] == data.email {
                        alert('Email already exists');
                        return
                    }
                    if guest_data[i][3] == data.phone {
                        alert('Phone number already exists');
                        return
                    }
                } {% endcomment %}



                // Send data to server
                var resp = fetch('/newGuest/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },  
                    body: JSON.stringify(data)
                })
                
                resp.then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })

                location.reload();



            }

        });

       

    </script>

    
</div>

{% endblock %}