<!DOCTYPE html>
<html>
<head>
    <title>Animation</title>
</head>
<body style='background-image: url(" {{invitation.background.pattern_bg  }} "); background-repeat: no-repeat; background-size: 100vw;'>

{% load static %}
<div >

        <div id="all">

            

            <canvas id="flap_open" style="z-index: inherit;">
                <!-- blue flap going up -->
            </canvas> 

            <canvas id="card", style="border:0px solid #246720; filter: drop-shadow(0px 5px 5px #000000); z-index: inherit;">
            </canvas> 

            <canvas id="env_blue", style="border:0px solid #FFFF00; z-index: inherit;">
                 <!--whole bottom -->
            </canvas> 

            <canvas id="env_white", style="border:0px solid rgb(11, 77, 63); filter: drop-shadow(0px 5px 5px #000000); z-index: inherit;">
            </canvas> 

            <canvas id="flap_closed">
                <!-- white flap going up -->
            </canvas> 

       
        </div>
	
    
    <script>
        (function() {

        var firstTime = true;

        const canvas_blue = document.getElementById('env_blue');
        const context_blue = canvas_blue.getContext('2d');

        const canvas_white = document.getElementById('env_white');
        const context_white = canvas_white.getContext('2d');

        const canvas_flap_closed = document.getElementById('flap_closed');
        const context_flap_closed = canvas_flap_closed.getContext('2d');

        const canvas_flap_open = document.getElementById('flap_open');
        const context_flap_open = canvas_flap_open.getContext('2d');

        const canvas_card = document.getElementById('card');
        const context_card = canvas_card.getContext('2d');

        canvas_card.visibility = "hidden";

        // set the canvas size to the window size if the window size is smaller than the envelope size
        if (window.innerWidth < 750) {
            envelope_width = window.innerWidth;
            envelope_height = window.innerWidth * 0.75;
        } else {
            envelope_width = 750;
            envelope_height = 500;
        }

        // center the envelope on the screen
        envelope_left = (window.innerWidth - envelope_width) / 2;
        envelope_top = (window.innerHeight - envelope_height) / 2;



        // set the closed envelope size and position
        //set the position of the canvas to fixed
        canvas_flap_open.style.position = "fixed";
        canvas_flap_closed.style.position = "fixed";
        canvas_white.style.position = "fixed";
        canvas_blue.style.position = "fixed";
        canvas_card.style.position = "fixed";

        setEnvelopeSize(envelope_width, envelope_height, 0.5, 0, 0, true)

        // set the z-index of the canvas elements so that the top flap is on top using the parent div ids
        canvas_flap_closed.style.zIndex = "10";
        canvas_white.style.zIndex = "7";
        canvas_blue.style.zIndex = "2";
        canvas_flap_open.style.zIndex = "3";
        canvas_flap_open.style.visibility = "hidden";
        canvas_card.style.zIndex = "5";

        setCardSize(envelope_height * 0.9, envelope_width * 0.9, 0.5, 90, 0.5, 0, true)

        drawStuff(); 

        function setCardSize(width, height, position_y, rotationY, transitionTime, delayTime, firstTime=false){
            if (firstTime){
                canvas_card.width = 8 * height;
                canvas_card.height = 8 * width;
            }

            canvas_card.style.transition = "width " + transitionTime + "s height " + transitionTime + "s, left " + transitionTime + "s, top " + transitionTime + "s, rotate " + transitionTime + "s";
            var trans_string = ""
            var transitions = ["width", "height", "left", "top", "rotate", "transform"];
            transitions.forEach(element => {
                trans_string += element + " " + transitionTime + "s, ";
            });
            canvas_card.style.width =  width + "px";
            canvas_card.style.height = height + "px";
            canvas_card.style.left = ((window.innerWidth - width) / 2) + "px";
            canvas_card.style.top = ((window.innerHeight * position_y) - height / 2) + "px"; 
            canvas_card.style.transform = "rotateZ(" + rotationY + "deg)";
        }


        function setEnvelopeSize(width, height, position_y, transitionTime, delayTime, firstTime=false) {
            // width and height are the new width and height of the envelope
            // top is the new top position of the envelope

            if (firstTime){
                var scale = 4;
                canvas_flap_open.width = scale*750;
                canvas_flap_open.height = scale*500;

                canvas_flap_closed.width = scale*750;
                canvas_flap_closed.height = scale*500;

                canvas_white.width = scale*750;
                canvas_white.height = scale*500;
                
                canvas_blue.width = scale*750;
                canvas_blue.height = scale*500;
            }
            canvas_blue.style.transition = "width " + transitionTime + "s, height " + transitionTime + "s, left " + transitionTime + "s, top " + transitionTime + "s";
            canvas_white.style.transition = "width " + transitionTime + "s, height " + transitionTime + "s, left " + transitionTime + "s, top " + transitionTime + "s";
            canvas_flap_closed.style.transition = "width " + transitionTime + "s, height " + transitionTime + "s,   left " + transitionTime + "s, top " + transitionTime + "s";
            canvas_flap_open.style.transition = "width " + transitionTime + "s, height " + transitionTime + "s, left " + transitionTime + "s, top " + transitionTime + "s";

            canvas_blue.style.width =  width + "px";
            canvas_blue.style.height = height + "px";

            canvas_white.style.width = width + "px";   
            canvas_white.style.height = height + "px";
            
            canvas_flap_closed.style.width =  width + "px";
            canvas_flap_closed.style.height = height + "px";

            canvas_flap_open.style.width =  width + "px";
            canvas_flap_open.style.height = height  + "px";

            // move the envelope to the center of the screen
            canvas_blue.style.left = ((window.innerWidth - width) / 2) + "px";
            canvas_blue.style.top = ((window.innerHeight * position_y)- height / 2) + "px"; 

            canvas_white.style.left = ((window.innerWidth - width) / 2) + "px";
            canvas_white.style.top = ((window.innerHeight * position_y) - height / 2) + "px"; 

            canvas_flap_closed.style.left = ((window.innerWidth - width) / 2) + "px";
            canvas_flap_closed.style.top = ((window.innerHeight * position_y) - height / 2) + "px"; 

            canvas_flap_open.style.left = ((window.innerWidth - width) / 2) + "px";
            canvas_flap_open.style.top = ((window.innerHeight * position_y) - 1.5 * height)  + "px"; 


        }
  
                
        function drawStuff() {
            
            // Color Background Image
            var white = new Image();
            white.src = "{% static 'images/outside.png' %}";
            white.onload = function() {
                context_white.drawImage(white, 0, 0, canvas_white.width, canvas_white.height);}

            // Front of Envelope
            var blue = new Image();
            blue.src = "{% static 'images/inside.png' %}";
            blue.onload = function() {
                context_blue.drawImage(blue, 0, 0, canvas_blue.width, canvas_blue.height);}

            // Top of Envelope Outside
            var flap_closed = new Image();
            flap_closed.src = "{% static 'images/top_closed.png' %}";
            flap_closed.onload = function() {
                context_flap_closed.drawImage(flap_closed, 0, 0, canvas_flap_closed.width, canvas_flap_closed.height);}


            // Top of Envelope Inside
            var flap_open = new Image();
            flap_open.src = "{% static 'images/top.png' %}";
            flap_open.onload = function() {
                context_flap_open.drawImage(flap_open, 0, 0, canvas_flap_open.width, canvas_flap_open.height);}

            var card = new Image();
            card.src = "{{ invitation.card.url}}";
            card.onload = function() {
                context_card.drawImage(card, 0, 0, canvas_card.width, canvas_card.height);}


        }

        function openFlap(){
            
            canvas_flap_closed.style.transformOrigin = "top";
            top_keyframes = canvas_flap_closed.animate([
                {transform: 'rotateX(0deg)'},
                {transform: 'rotateX(90deg)'},
                {transform: 'rotateX(90deg)'},
                {transform: 'rotateX(90deg) translateY(42px)'},
                {transform: 'rotateX(90deg) translateY(42px)'},

            ], {
                duration: 3000,

                fill: 'forwards'
            });

            canvas_flap_open.style.transformOrigin = "bottom";
            canvas_flap_open.style.visibility = "visible";

            drop_px = envelope_width * 0.9;
            bottom_keyframes = canvas_flap_open.animate([
                {transform: 'rotateX(90deg)'},
                {transform: 'rotateX(90deg)'},
                {transform: 'rotateX(0deg)'},
                {transform: `rotateX(0deg) translateY(${drop_px}px)`},
                {transform: `rotateX(0deg) translateY(${drop_px}px)`},


            ], {
                duration: 3000,
                fill: 'forwards'
            });

            canvas_white.animate([
                {transform: 'rotateX(0deg)'},
                {transform: 'rotateX(0deg)'},
                {transform: 'rotateX(0deg)'},
                {transform: `translateY(${drop_px}px)`},
                {transform: `translateY(${drop_px}px)`},

            ], {
                duration: 3000,
                fill: 'forwards'
            });


            canvas_blue.animate([
                {transform: 'rotateX(0deg)'},
                {transform: 'rotateX(0deg)'},
                {transform: 'rotateX(0deg)'},
                {transform: `translateY(${drop_px}px)`},
                {transform: `translateY(${drop_px}px)`},

            ], {
                duration: 3000,
                fill: 'forwards'
            });

            canvas_card.animate([
                {transform: 'rotateZ(-90deg)'},
                {transform: 'rotateZ(-90deg)'},
                {transform: 'rotateZ(-90deg)'},
                {transform: 'rotateZ(-90deg)'},
                {transform: `rotateZ(0deg) translateY(-3.2rem) scaleX(1.08) scaleY(1.08)`},
            ], {
                duration: 3000,
                fill: 'forwards'
            });

        }
            
        // onclick the top half will open, by rotating the top half
        alls = document.getElementById('all');
        alls.addEventListener('click', function() {

            openFlap();

        }, false);
        })();


    </script> 
</div>
</body>
</html>






